{% extends 'main.html' %}

{% block content %} 
    <br><br>
    <div class="row">
        
        <div class="col-sm-12 box">
            <img src="{{ post.image }}" alt="" class="img-fluid">
            <h1>{{ post.title }}</h1>
            <h3>{{ post.category }} - {{ post.author }}</h3>
            <p><b>{{ post.info }}</b></p>
            <br><hr>
            <p>{{ post.description }}</p>
        </div>
        
    </div>

    <style>
        .box{
            padding: 20px;
            margin: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px,rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px,rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
        }
    </style>


{% endblock %}
